@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css */
#adminSideBar a.active{
    background-color: #4f46e5;
}

#studentSideBar a.active{
    background-color: #b1266b;
}


#facultySideBar a.active{
    background-color: #16a34a;
}